# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

spring-boot-application/*.iml
spring-boot-application/.idea/
spring-boot-application/target/
spring-boot-application/out/

spring-demo-server/*.iml
spring-demo-server/.idea/
spring-demo-server/target/
spring-demo-server/out/

bin/*.jar

csharp-client-proj/csharp-client-proj/bin
csharp-client-proj/csharp-client-proj/obj
csharp-client-proj/csharp-client-proj.csproj.user
csharp-client-proj/packages
csharp-client-proj/.vs/

stomp-client/.idea/
stomp-client/.vs/
stomp-client/bin/
stomp-client/obj/
stomp-client/packages/

csharp-demo-client/.idea/
csharp-demo-client/.vs/
csharp-demo-client/target/
csharp-demo-client/out/
csharp-demo-client/packages/
csharp-demo-client/bin/
csharp-demo-client/obj/



# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

stomp-client/Builder/StompSendBuilder.cs
stomp-client/Builder/StompSubscribeBuilder.cs
stomp-client/Program.cs
stomp-client/Greeting.cs
stomp-client/HelloMessage.cs

*.user
